body::after {
    content: "";
    background: black url("../img/bg2.webp") center center no-repeat;
    background-size: cover;
    opacity: 0.3;
    top: -200px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
